<h1>Edit <%= @merchant.name %></h1>
<form class="update-merchant" action="/merchants/<%= @merchant.id %>" method="POST">
  <input type="hidden" name="_method" value="PUT" />
  <input type='text' name='merchant[name]' placeholder='Merchant Name'>
  <input type='submit' value="Update Merchant">
</form>
<form class="update-merchant" action="/merchants/<%= @merchant.id %>" method="GET">
  <input type='submit' value="Cancel">
</form>
