<h1>Edit <%= @merchant.name %></h1>
<form class="update-merchant" action="/merchants/show" method="POST">
  <input type='text' name='merchant[name]' placeholder='Merchant Name'>
  <input type='submit' value="Cancel">
  <input type='submit' value="Update Merchant">
</form>
