<h1><%= @merchant.name %></h1>
<form class="edit" action="/merchants/<%= @merchant.id %>/edit" method="GET">
  <button>Edit</button>
</form>
<form class="delete" action="/merchants" method="POST">
  <input type="hidden" name="_method" value="DELETE">
  <input type="submit" value="Delete" />
</form>
