<h1>Items Dashboard</h1>

<p>Total Item Count: <%= @total_count %></p>
<p>Avg Price Per Item: <%= @avg_price%></p>
<section class="item-by-age">
  <h2>Item by Age</h2>
  <p>Newest Item: <%= @newest_item%></p>
  <p>Oldest Item: <%= @oldest_item%></p>
</section>
