<h1>Items Dashboard</h1>

<p>Total Item Count: <%= Item.total_count %></p>
<p>Avg Price Per Item: <%= Item.avg_price%></p>
<p>Item by Age</p>
<p>Newest Item: <%= Item.newest_item%></p>
<p>Oldest Item: <%= Item.oldest_item%></p>
